force-app/main/default/flows/Agreements_Exceeding_11_months.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agreement_List</name>
        <label>Agreement List</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AgreementsExceeding11Months</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tenant_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tenant_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AgreementOverAnYear</name>
        <label>AgreementOverAnYear</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Tenant_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Agreement_For_11_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AgreemnetEndNoInCurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_List</targetReference>
            </connector>
            <label>Is Agreement For 11 months</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Agreement</name>
        <dataType>Boolean</dataType>
        <expression>( YEAR({!Tenant_Loop.Agreement_Upto__c}) - YEAR({!Tenant_Loop.Agreement_From__c}) ) * 12 
+ ( MONTH({!Tenant_Loop.Agreement_Upto__c}) - MONTH({!Tenant_Loop.Agreement_From__c}) ) &gt; 11</expression>
    </formulas>
    <formulas>
        <name>AgreemnetEndNoInCurrentMonth</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    AND(
        YEAR({!Tenant_Loop.Agreement_Upto__c}) = YEAR(TODAY()),
        MONTH({!Tenant_Loop.Agreement_Upto__c}) = MONTH(TODAY())
    )
)</expression>
    </formulas>
    <interviewLabel>Agreements Exceeding 11 months {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreements Exceeding 11 months</label>
    <loops>
        <name>Tenant_Loop</name>
        <label>Tenant Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Tenant_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AgreementOverAnYear</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tenant_Agreement</name>
        <label>Get Tenant Agreement</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tenant_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Agreement_From__c</queriedFields>
        <queriedFields>Agreement_Upto__c</queriedFields>
        <queriedFields>Present_Leasee__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Looking_For_Renewal__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tenant_Agreement</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AgreementsExceeding11Months</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>isAgreementExceeding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
