force-app/main/default/flows/Fetch_Tenant_Records_Based_On_Agreement_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>tenant_Record_Assignmnet</name>
        <label>tenant Record Assignmnet</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tenantRecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Tenent_Records</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FifteenDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <interviewLabel>fet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Tenant Records Based On Agreement Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Tenent_Records</name>
        <label>get Tenent Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tenant_Record_Assignmnet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FifteenDaysFromToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Tenent_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>tenantDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenantRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
</Flow>
