force-app/main/default/flows/Get_Tenant_Info_From_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>TenantInfoCollection</name>
        <label>TenantInfoCollection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TenantInfoList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Tenants</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UnitInfoCollection</name>
        <label>UnitInfoCollection</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UnitInfoList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Units</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckForRequiredData</name>
        <label>CheckForRequiredData</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Get_Tenants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecIfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tenant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Tenants</targetReference>
            </connector>
            <label>Get Tenants</label>
        </rules>
        <rules>
            <name>Get_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecIfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Units</targetReference>
            </connector>
            <label>Get Units</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Tenant Info From Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Tenant Info From Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForRequiredData</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </filters>
        <object>Payment_Detail__c</object>
        <outputAssignments>
            <assignToReference>TenantId</assignToReference>
            <field>Tenant__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitId</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Tenants</name>
        <label>Get Related Tenants</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TenantInfoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Units</name>
        <label>Get Related Units</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UnitInfoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecIfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenantInfoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>UnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitInfoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
