force-app/main/default/flows/Get_Payments_Delayed_More_Than_a_Month.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignConatct</name>
        <label>AssignConatct</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ConatctRelatedtoDuePayments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDueLeasee</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignPaymentDetails</name>
        <label>AssignPaymentDetails</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>DelayedPayments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPaymentsDues</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignTenants</name>
        <label>AssignTenants</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>TenantOfPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDueTenants</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>getContactIds</name>
        <label>getContactIds</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ContactIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverDuePresentLeasee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getTenantIds</name>
        <label>getTenantIds</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TenantIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DueTenantIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckForContactId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckForContactId</name>
        <label>CheckForContactId</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contact_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OverDuePresentLeasee</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactIds</targetReference>
            </connector>
            <label>If Contact Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForIds</name>
        <label>CheckForIds</label>
        <locationX>446</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckforTenantId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TenantIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReqInputObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDueTenants</targetReference>
            </connector>
            <label>CheckforTenantId</label>
        </rules>
        <rules>
            <name>Check_for_contact_id</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ContactIdList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReqInputObject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Leasee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReqInputObject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDueLeasee</targetReference>
            </connector>
            <label>Check for contact id</label>
        </rules>
        <rules>
            <name>Check_for_Payment_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReqInputObject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPaymentDetails</targetReference>
            </connector>
            <label>Check for Payment Detail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForRealtedTenandId</name>
        <label>checkForRealtedTenandId</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>CheckForContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Tenant_Id_Presents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DueTenantIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTenantIds</targetReference>
            </connector>
            <label>if Tenant Id Presents</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Calculating a date that is one month prior to the current date.</description>
        <name>OneMonthAgo</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 1, 
   DATE(YEAR(TODAY()) - 1, 12, 1), 
   DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 1)
)</expression>
    </formulas>
    <interviewLabel>Get Payments Delayed More Than a Month {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Payments Delayed More Than a Month</label>
    <loops>
        <name>OverDuePaymentLoop</name>
        <label>OverDuePaymentLoop</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <collectionReference>getPaymentsDues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getDueTenents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckForIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getDueLeasee</name>
        <label>getDueLeasee</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignConatct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDueTenants</name>
        <label>getDueTenants</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTenants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TenantIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Present_Leasee__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Agreement_From__c</queriedFields>
        <queriedFields>Agreement_Upto__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDueTenents</name>
        <label>getDueTenents</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForRealtedTenandId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OverDuePaymentLoop.Tenant__r.Id</elementReference>
            </value>
        </filters>
        <object>Tenant_Info__c</object>
        <outputAssignments>
            <assignToReference>DueTenantIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OverDuePresentLeasee</assignToReference>
            <field>Present_Leasee__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPaymentsDues</name>
        <label>getPaymentsDues</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Pay_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>OneMonthAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Tenant__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Last_Pay_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPaymentsDues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConatctRelatedtoDuePayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DelayedPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Detail__c</objectType>
    </variables>
    <variables>
        <name>DueEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueTenantIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastPaidDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverDuePresentLeasee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReqInputObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenantIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TenantOfPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>WantDuePayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
