force-app/main/default/flows/Get_Repeated_Complaints.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_ReturnCase</name>
        <label>ReturnCase</label>
        <locationX>792</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TopCaseReason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Loop.Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Reason_Count</name>
        <label>Fetch Reason Count</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseReasonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Loop.Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Reason_already_considered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReturnCase</name>
        <label>ReturnCase</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TopCaseReason</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HighReasonCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Case_Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TopCaseReason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Loop.Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>variable_Assignment</name>
        <label>variable Assignment</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CaseReasonCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Case_Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReasonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Loop.Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identifying_Top_Most_Cases</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Case_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Case Filter</label>
        <locationX>792</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Case_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Case_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Case_Filter.Reason</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Case_Loop.Reason</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>variable_Assignment</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Case_Reason_already_considered</name>
        <label>Check Case Reason already considered</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Case_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkCaseReasonadded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Fetch_Reason_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identifying_Top_Most_Cases</name>
        <label>Identifying Top Most Cases</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Case_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TopCommonCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighReasonCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CaseReasonCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReturnCase</targetReference>
            </connector>
            <label>TopCommonCase</label>
        </rules>
        <rules>
            <name>Same_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighReasonCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseReasonCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_ReturnCase</targetReference>
            </connector>
            <label>Same Reason</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkCaseReasonadded</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!caseReasonList}, TEXT({!Case_Loop.Reason})), true, false)</expression>
    </formulas>
    <interviewLabel>Get Repeated Complaints {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Repeated Complaints</label>
    <loops>
        <name>Case_Loop</name>
        <label>Case Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_Reason_Count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseReasonCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>caseReasonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Case_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>HighReasonCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TopCaseReason</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
