force-app/main/default/flows/get_Vacant_Properties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Properties</name>
        <label>assign Properties</label>
        <locationX>1144</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>propertyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Properties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Units</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Property_Exist</name>
        <label>Does Property Exist</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>assign_Properties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>propertyCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_Properties</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Units</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Tenant_Exist</name>
        <label>Does Tenant Exist</label>
        <locationX>1232</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loop_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tenants_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Tenant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Property_Exist</targetReference>
            </connector>
            <label>Tenants Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>twoMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -2)</expression>
    </formulas>
    <interviewLabel>get Vacant Properties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>get Vacant Properties</label>
    <loops>
        <name>loop_Properties</name>
        <label>loop Properties</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Units</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_Units</name>
        <label>loop Units</label>
        <locationX>880</locationX>
        <locationY>458</locationY>
        <collectionReference>get_Units</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Tenant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Properties</name>
        <label>get Properties</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Properties</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Tenant</name>
        <label>get Tenant</label>
        <locationX>1232</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Tenant_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Units.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>twoMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Units</name>
        <label>get Units</label>
        <locationX>880</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Properties.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Properties</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>propertyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>tenantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>tenantRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>totalProperties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
</Flow>
