force-app/main/default/flows/Get_Units.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>List_of_Units</name>
        <label>List of Units</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>UnitList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Units</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>customized fields</description>
    <environments>Default</environments>
    <interviewLabel>Get Units {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Units on Status Rent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Units</name>
        <label>Get Units</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Units</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rent_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Units</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Rent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
