force-app/main/default/flows/Get_Revenue_After_Case_Expense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Savings_without_expense</name>
        <label>Savings without expense</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TotalSaving</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Unit_ID.Rent__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Storing_Rent</name>
        <label>Storing Rent</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Rent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Unit_ID.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Solution_Cost</name>
        <label>Total Solution Cost</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TotalExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Through_Cases.Solution_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unit_Savings</name>
        <label>Unit Savings</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TotalSaving</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalSavings</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checking_for_Available_Cases</name>
        <label>Checking for Available Cases</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Savings_without_expense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cases Not Present</defaultConnectorLabel>
        <rules>
            <name>Cases_Are_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Through_Cases</targetReference>
            </connector>
            <label>Cases Are Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StartOfCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), 1)</expression>
    </formulas>
    <formulas>
        <name>StartOfNextMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}) + 1, 1)</expression>
    </formulas>
    <formulas>
        <name>TotalSavings</name>
        <dataType>Number</dataType>
        <expression>{!Get_the_Unit_ID.Rent__c}-{!TotalExpense}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Get Revenue After Case Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Revenue After Case Expense</label>
    <loops>
        <name>Looping_Through_Cases</name>
        <label>Looping Through Cases</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Solution_Cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unit_Savings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_for_Available_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Unit_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>StartOfNextMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Solution_Cost__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <sortField>CaseNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Unit_ID</name>
        <label>Get the Unit ID</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Storing_Rent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Unit_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitName_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitName_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Rent__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Unit_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Rent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalExpense</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSaving</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitName_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
