force-app/main/default/flows/GetUnitWithRoomDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Final_Unit_List</name>
        <label>Final Unit List</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FinalUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_units_by_Properties</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Final_Unit_List_2</name>
        <label>Final Unit List 2</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FinalUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_bathroom_units_by_Properties</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RelatedUnitData</name>
        <label>RelatedUnitData</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UnitRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUnitWithBedRoomRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Property_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RelatedUnitsWithBathrooms</name>
        <label>RelatedUnitsWithBathrooms</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UnitRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUnitWithBathRoomRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Checking_Property_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unfilterd_Final_Units</name>
        <label>Unfilterd Final Units</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FinalUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unfilterd_Final_Units_2</name>
        <label>Unfilterd Final Units 2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FinalUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_bathroom_units_by_Properties</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter bathroom units by Properties</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_units_by_Properties</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetUnitWithBathRoomRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_units_by_Properties.Property_Name__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Copy_2_of_Get_Property_ID.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Final_Unit_List_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_units_by_Properties</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter units by Properties</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_units_by_Properties</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetUnitWithBedRoomRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_units_by_Properties.Property_Name__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Property_ID.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Final_Unit_List</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Checking_Property_Name</name>
        <label>Checking Property Name</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Unfilterd_Final_Units_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Property Not Present</defaultConnectorLabel>
        <rules>
            <name>Property_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Property</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Property_ID</targetReference>
            </connector>
            <label>Property Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checking_Property_Name</name>
        <label>Copy 1 of Checking Property Name</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Unfilterd_Final_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Property Not Present</defaultConnectorLabel>
        <rules>
            <name>Property_Present_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Property</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Property_ID</targetReference>
            </connector>
            <label>Property Present 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequiredElement</name>
        <label>RequiredElement</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetUnitBasedOnBedRooms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputReqInfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bedroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUnitWithBedRoomRecords</targetReference>
            </connector>
            <label>GetUnitBasedOnBedRooms</label>
        </rules>
        <rules>
            <name>GetUnitBasedOnBathRooms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputReqInfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bathroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUnitWithBathRoomRecords</targetReference>
            </connector>
            <label>GetUnitBasedOnBathRooms</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GetUnitWithRoomDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Unit with Room Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_Property_ID</name>
        <label>Copy 2 of Get Property ID</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_bathroom_units_by_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Property</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_ID</name>
        <label>Get Property ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_units_by_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Property</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnitWithBathRoomRecords</name>
        <label>GetUnitWithBathRoomRecords</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedUnitsWithBathrooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bathrooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoOfRequirement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnitWithBedRoomRecords</name>
        <label>GetUnitWithBedRoomRecords</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedUnitData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bedrooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoOfRequirement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RequiredElement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_1_of_Filter_units_by_Properties</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>FinalUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>Input_Property</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputReqInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfRequirement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnitRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
