force-app/main/default/flows/GetUnitWithRoomDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>RelatedUnitData</name>
        <label>RelatedUnitData</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UnitRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUnitWithBedRoomRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RelatedUnitsWithBathrooms</name>
        <label>RelatedUnitsWithBathrooms</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UnitRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUnitWithBathRoomRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>RequiredElement</name>
        <label>RequiredElement</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetUnitBasedOnBedRooms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputReqInfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bedroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUnitWithBedRoomRecords</targetReference>
            </connector>
            <label>GetUnitBasedOnBedRooms</label>
        </rules>
        <rules>
            <name>GetUnitBasedOnBathRooms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputReqInfo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bathroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUnitWithBathRoomRecords</targetReference>
            </connector>
            <label>GetUnitBasedOnBathRooms</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GetUnitWithRoomDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Unit with Room Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUnitWithBathRoomRecords</name>
        <label>GetUnitWithBathRoomRecords</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedUnitsWithBathrooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bathrooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoOfRequirement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnitWithBedRoomRecords</name>
        <label>GetUnitWithBedRoomRecords</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedUnitData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bedrooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoOfRequirement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RequiredElement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputReqInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfRequirement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnitRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
