force-app/main/default/flows/Give_20_of_for_Vacant_Properties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>rent_Amt_Assignment</name>
        <label>rent Amt Assignment</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>loop_units.Rent_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rentAmtDisc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>unit_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>successMessage</name>
        <label>successMessage</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>rentAmtUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>twentyOffDiscount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>unit_Assignment</name>
        <label>unit Assignment</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>unitCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_units</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Rent_Amount_Available</name>
        <label>is Rent Amount Available</label>
        <locationX>836</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>loop_units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rent_Amount_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_units.Rent_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rent_Amt_Assignment</targetReference>
            </connector>
            <label>Rent Amount Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>rentAmtDisc</name>
        <dataType>String</dataType>
        <expression>TEXT(ROUND(VALUE({!loop_units.Rent_Amount__c}) * 0.8, 2))</expression>
    </formulas>
    <interviewLabel>Give 20% of for Vacant Properties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Give 20% of for Vacant Properties</label>
    <loops>
        <name>loop_properties</name>
        <label>loop properties</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>propertyCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Units</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_units</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_units</name>
        <label>loop units</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <collectionReference>get_Units</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Rent_Amount_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Units</name>
        <label>get Units</label>
        <locationX>616</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_properties.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_units</name>
        <label>update units</label>
        <locationX>176</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>successMessage</targetReference>
        </connector>
        <inputReference>unitCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_properties</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>propertyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>rentAmtUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>twentyOffDiscount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>20% off applied for Rent of vacant Properties</stringValue>
        </value>
    </variables>
    <variables>
        <name>unitCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>unitCollectionMain</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
