force-app/main/default/flows/Payment_Details_For_Current_Month.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CurrentMonthPayments</name>
        <label>CurrentMonthPayments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PaymentDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentMonthsPaymentDetails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonthEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>CurrentMonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 1)</expression>
    </formulas>
    <interviewLabel>Payment Details For Current Month {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Details For Current Month</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCurrentMonthsPaymentDetails</name>
        <label>GetCurrentMonthsPaymentDetails</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentMonthPayments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Pay_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentMonthStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Pay_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentMonthEndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Tenant__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Last_Pay_Date__c</queriedFields>
        <queriedFields>Payment_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentMonthsPaymentDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Month</stringValue>
        </value>
    </variables>
    <variables>
        <name>PaymentDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Detail__c</objectType>
    </variables>
</Flow>
