force-app/main/default/flows/Property_Data_To_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Available_Tenant_Units</name>
        <label>Assign Available Tenant Units</label>
        <locationX>1232</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AvailableUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUnitFromTenant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unit_Of_Tenants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_All_Available_Units</name>
        <label>Get All Available Units</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AvailableUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUpcomingTenantFromUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUpcomingTenantFromUnit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_Vacant_Units</name>
        <label>Find Vacant Units</label>
        <locationX>968</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>FindTenant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Vacant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUpcomingTenantFromUnit.Unit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Available_Units</targetReference>
            </connector>
            <label>Is Vacant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AgreementAheadDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 0) + 15</expression>
    </formulas>
    <interviewLabel>Property Data To Agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property Data To Agents</label>
    <loops>
        <name>get_Units_From_Property</name>
        <label>get Units From Property</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Property</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetRelatedUnitRecords</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>getUpcomingTenantFromUnit</name>
        <label>getUpcomingTenantFromUnit</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <collectionReference>GetRelatedUnitRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Vacant_Units</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Units_From_Property</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unit_Of_Tenants</name>
        <label>Unit Of Tenants</label>
        <locationX>1144</locationX>
        <locationY>782</locationY>
        <collectionReference>FindTenant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUnitFromTenant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUpcomingTenantFromUnit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindTenant</name>
        <label>FindTenant</label>
        <locationX>1144</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Of_Tenants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>AgreementAheadDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUpcomingTenantFromUnit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property</name>
        <label>Get Property</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Units_From_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputCity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedUnitRecords</name>
        <label>GetRelatedUnitRecords</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUpcomingTenantFromUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Units_From_Property.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnitFromTenant</name>
        <label>getUnitFromTenant</label>
        <locationX>1232</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Available_Tenant_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Of_Tenants.Unit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit_Name__c</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <queriedFields>Bedrooms__c</queriedFields>
        <queriedFields>Bathrooms__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Property</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AvailableUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>InputCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
