force-app/main/default/flows/Send_Reminder_Emails_For_Due_Payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendDueEmailRemainder</name>
        <label>SendDueEmailRemainder</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successfully_Reminded_Payment_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>DueEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DueEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ReminderSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>OverDuePresentLeasee</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>DueDetailsAssignment</name>
        <label>DueDetailsAssignment</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>DueAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverDuePaymentLoop.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastPaidDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverDuePaymentLoop.Last_Pay_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDueTenents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FailedReminderPaymentDetails</name>
        <label>Failed Reminder Payment Details</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FaildeReminders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverDuePaymentLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Successfully_Reminded_Payment_Details</name>
        <label>Successfully Reminded Payment Details</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SuccessfullReminders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverDuePaymentLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Valid_Email_Ids</name>
        <label>Check For Valid Email Ids</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>FailedReminderPaymentDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Email Is Missing</defaultConnectorLabel>
        <rules>
            <name>If_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DueEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendDueEmailRemainder</targetReference>
            </connector>
            <label>If Email Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Calculating a date that is one month prior to the current date.</description>
        <name>OneMonthAgo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 1)</expression>
    </formulas>
    <interviewLabel>Get {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Reminder Emails For Due Payments</label>
    <loops>
        <name>OverDuePaymentLoop</name>
        <label>OverDuePaymentLoop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>getPaymentsDues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DueDetailsAssignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getDueLeasee</name>
        <label>getDueLeasee</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Valid_Email_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OverDuePresentLeasee</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DueEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DueLeaseeFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DueLeaseeLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDueTenents</name>
        <label>getDueTenents</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDueLeasee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OverDuePaymentLoop.Tenant__r.Id</elementReference>
            </value>
        </filters>
        <object>Tenant_Info__c</object>
        <outputAssignments>
            <assignToReference>DueTenantIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OverDuePresentLeasee</assignToReference>
            <field>Present_Leasee__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPaymentsDues</name>
        <label>getPaymentsDues</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OverDuePaymentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Pay_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>OneMonthAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Tenant__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Last_Pay_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPaymentsDues</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ReminderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hi {!DueLeaseeFirstName} {!DueLeaseeLastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;   I hope you&apos;re doing well. This is a gentle reminder that your payment of &lt;strong&gt;{!DueAmount}&lt;/strong&gt; is due.&lt;/p&gt;&lt;p&gt;        &lt;strong&gt;Last Payment Date: &lt;/strong&gt;{!LastPaidDate}&lt;/p&gt;&lt;p&gt;  To avoid any late fees or service interruptions, please make the payment at your earliest convenience. If you have already made the          payment, kindly disregard this message.  &lt;/p&gt;&lt;p&gt;For any questions or assistance, feel free to reach out.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best regards,&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReminderSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Payment Overdue Reminder&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DueAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DueEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueLeaseeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueLeaseeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueTenantIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaildeReminders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Detail__c</objectType>
    </variables>
    <variables>
        <name>hardcodedemailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>chinnugeorge1234@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>LastPaidDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverDuePresentLeasee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendDuePaymentReminder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessfullReminders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Detail__c</objectType>
    </variables>
</Flow>
