force-app/main/default/flows/Send_Tenant_Renewal_Reminder_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Renewal_Email</name>
        <label>Send Renewal Email</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Renewal_Message_Send</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>tenentEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Get_Current_Email</name>
        <label>Get Current Email</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>emailID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Renewal_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Email_List</name>
        <label>Get Email List</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>tenentEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Renewal_Message_Not_Send</name>
        <label>Renewal Message Not Send</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalMessageNotSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tenant_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Renewal_Message_Send</name>
        <label>Renewal Message Send</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalMessageSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Collection_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Collection_Null</name>
        <label>Set Email Collection Null</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>tenentEmailCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>tenentEmailCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Null</name>
        <label>Set Email Null</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>emailID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tenant_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Email</name>
        <label>Check For Email</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Renewal_Message_Not_Send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tenant_Loop.Present_Leasee__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FifteenDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <interviewLabel>Send Tenant Renewal Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Tenant Renewal Reminder Email</label>
    <loops>
        <name>Tenant_Loop</name>
        <label>Tenant Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Tenent_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Contacts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tenant_Loop.Present_Leasee__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tenent_Records</name>
        <label>Get Tenent Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tenant_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>FifteenDaysFromToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tenent_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Tenant_Loop.Present_Leasee__r.FirstName},
I hope you are doing well. I wanted to inform you that your lease agreement is set to expire on {!Tenant_Loop.Agreement_Upto__c}.
Please let us know if you have any questions or if you would like to discuss renewal options.
Thank you</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lease Agreement Expiration Notice</text>
    </textTemplates>
    <variables>
        <name>emailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FailMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RenewalMessageNotSend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Failed To Send Renewal Message</stringValue>
        </value>
    </variables>
    <variables>
        <name>RenewalMessageSend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Renewal Message Send</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tenantDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenantRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>tenentEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
