force-app/main/default/flows/show_Vacant_Properties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Properties</name>
        <label>assign Properties</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>propertyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Property</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Properties</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Property_Exist</name>
        <label>Does Property Exist</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>assign_Properties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>propertyCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_Properties</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Properties</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>twoMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -2)</expression>
    </formulas>
    <interviewLabel>show Vacant Properties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>show Vacant Properties</label>
    <loops>
        <name>loop_Properties</name>
        <label>loop Properties</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <collectionReference>get_Property</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Property_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Tenants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Tenants</name>
        <label>loop Tenants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_Tenants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Units</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Property</name>
        <label>get Property</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Units.Property_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Tenants</name>
        <label>get Tenants</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Tenants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>twoMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Units</name>
        <label>get Units</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Tenants.Unit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Tenants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>propertyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>tenantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
</Flow>
