force-app/main/default/flows/Show_Tenants_Vacated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_of_Tenant_Collection</name>
        <label>Assignment of Tenant Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tenantCollectionAfterFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Tenant_Collection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Tenant_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Tenant Collection</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>currentItem_Filter_Tenant_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>tenantCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Tenant_Collection.Agreement_Upto__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>threeMonthsAgo</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Tenant_Collection.Agreement_Upto__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>currentDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_of_Tenant_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>threeMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -3)</expression>
    </formulas>
    <interviewLabel>Show Tenants Vacated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Tenants Vacated Property In 3 Months</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Tenant_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Tenant_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>tenantCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>tenantCollectionAfterFilter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
</Flow>
