force-app/main/default/flows/Tenants_of_a_Property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Property_Tenants</name>
        <label>Add Property Tenants</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>propertyRelatedTenants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Tenants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tenants</name>
        <label>Assign Tenants</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>propertyVacatedTenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyRelatedTenants</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Tenants</name>
        <label>Check for Tenants</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Tenants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Property_Tenants</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>threeMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -3)</expression>
    </formulas>
    <interviewLabel>Tenants of a Property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tenants of a Property</label>
    <loops>
        <name>Loop_through_Units</name>
        <label>Loop through Units</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>get_Units_Based_on_Property</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Tenants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Tenants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Property_Based_on_Name</name>
        <label>get Property Based on Name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Units_Based_on_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>propertyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Tenants</name>
        <label>get Tenants</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Tenants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Units.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Units_Based_on_Property</name>
        <label>get Units Based on Property</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Property_Based_on_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Property_Based_on_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>propertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyRelatedTenants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
    <variables>
        <name>propertyVacatedTenant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Tenant_Info__c</objectType>
    </variables>
</Flow>
