force-app/main/default/flows/UpdateUnitStatusAndDeleteTenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SuccessMsgAssign</name>
        <label>SuccessMsgAssign</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SuccessMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckForTenantInfo</name>
        <label>CheckForTenantInfo</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>UpdateUnitStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckValidTenants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedTenants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteTenantRecords</targetReference>
            </connector>
            <label>CheckValidTenants</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateUnitStatusAndDeleteTenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateUnitStatusAndDeleteTenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteTenantRecords</name>
        <label>DeleteTenantRecords</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>UpdateUnitStatus</targetReference>
        </connector>
        <inputReference>GetRelatedTenants</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetRelatedTenants</name>
        <label>GetRelatedTenants</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForTenantInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUnitRecordToUpdate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agreement_From__c</queriedFields>
        <queriedFields>Agreement_Upto__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnitRecordToUpdate</name>
        <label>GetUnitRecordToUpdate</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedTenants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputUnitToUpdate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Rent_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUnitStatus</name>
        <label>UpdateUnitStatus</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>SuccessMsgAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUnitRecordToUpdate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUnitRecordToUpdate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputUnitToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Successfully updated the status</stringValue>
        </value>
    </variables>
</Flow>
