force-app/main/default/flows/Update_Unit_Status_Based_On_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ListOfUnitsToUpdate</name>
        <label>ListOfUnitsToUpdate</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UnitsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TenentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UnitToUpadate</name>
        <label>UnitToUpade</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>unitId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TenentLoop.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitId.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitId.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TenentLoop.Unit__r.Property_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitId.Rent_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TenentLoop.Unit__r.Rent_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListOfUnitsToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Non_Vacant_Status</name>
        <label>Check For Non Vacant Status</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>TenentLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TenentLoop.Unit__r.Unit_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TenentLoop.Unit__r.Unit_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnitToUpadate</targetReference>
            </connector>
            <label>If Not Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Update Unit Status Based On Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Unit Status Based On Agreement</label>
    <loops>
        <name>TenentLoop</name>
        <label>TenentLoop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetTenantWithAgreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetUnitDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateUnitStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTenantWithAgreement</name>
        <label>GetTenantWithAgreement</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TenentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Upto__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tenant_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUnitDetails</name>
        <label>GetUnitDetails</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Non_Vacant_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenentLoop.Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUnitStatus</name>
        <label>UpdateUnitStatus</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>UnitsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTenantWithAgreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputUpdateVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>unitId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>UnitsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
